body {
  background-color: #BECADA;
}

.btn {
  background-attachment: fixed;
  background-color: blue;
  margin-bottom: 5%;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.boton2 {
  position: absolute;
  top: 91%;
  text-align: center;
  text-decoration: underline;
  left: 42%;
  height: 20%;
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.9em;
  color: #C70039;
}

.botonservicios {
  display: inline;
  margin-top: 5%;
  position: relative;
  left: 5%;
  border-radius: 6px;
  text-align: center;
  background: black;
  color: #C70039;
  line-height: normal;
  letter-spacing: 1px;
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}

.botonservicios1 {
  display: inline;
  margin-top: 15%;
  position: relative;
  left: 15%;
  border: none;
  text-align: center;
  background: black;
  font-family: "Times New Roman", Times, serif;
  color: #C70039;
  line-height: normal;
  letter-spacing: 1px;
  font-size: 1.1em;
  text-decoration: underline;
}

.butt3 {
  color: white;
  line-height: normal;
  position: absolute;
  left: 40%;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 5%;
  letter-spacing: 3px;
}

.butt2 {
  color: white;
  line-height: normal;
  position: relative;
  margin-right: 20%;
  letter-spacing: 3px;
  font-family: "Times New Roman", Times, serif;
  padding: 2%;
  margin-top: 0%;
  margin-bottom: 2%;
}

.butt1 {
  position: absolute;
  top: 75%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  text-align: center;
}

.butt4 {
  color: white;
  line-height: normal;
  position: absolute;
  left: 45%;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 5%;
  letter-spacing: 2.8px;
}

body {
  background-color: #BECADA;
}

.footer {
  justify-content: space-between;
  background-color: black;
  position: relative;
  display: inline-block;
  text-align: center;
  bottom: 0%;
  margin-top: 5%;
}

.footer-item {
  border: 1px solid transparent;
  background-color: black;
  justify-content: space-around;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  flex: 1;
  color: white;
  font-size: 1em;
}

.footer-one {
  flex: 1;
  margin-left: 3%;
}

.footer-two {
  flex: 2;
  margin-left: 10%;
  justify-content: center;
}

.footer-three {
  flex: 1;
}

.footer-distributed .footer-icons {
  margin-top: 10px;
}

.footer-icons a {
  display: inline-block;
  width: 40px;
  height: 35px;
  cursor: pointer;
  background-color: blue;
  border-radius: 2px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}

body {
  background-color: #BECADA;
}

header {
  width: 100%;
  position: fixed;
  top: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  height: auto;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  z-index: 10;
  color: #C70039;
  border: 1px transparent;
}

.nombre {
  font-size: 18px;
  font-family: "Lora", serif;
  text-align: center;
  text-decoration: none;
  color: #C70039;
}

nav {
  width: 100%;
  z-index: 2;
  font-size: 15px;
  height: 8%;
  position: fixed;
  top: 0%;
  left: 0;
  text-decoration: none;
}

.container-fluid a {
  color: #C70039 !important;
  text-decoration: none;
}

.nav-item {
  color: #C70039 !important;
  font-size: 1.1em !important;
  text-decoration: none;
  position: relative;
  justify-content: space-around;
  left: 30%;
}

.dropdown-menu {
  background-color: #DCDCDC !important;
  text-align: right;
  justify-content: right !important;
}

.dropdown-menu :hover {
  background-color: white !important;
  color: blue !important;
}

.dropdown-menu {
  margin-top: 0;
}

body {
  background-color: #BECADA;
}

.itemwapp {
  position: fixed;
  border-radius: 5px;
  top: 85%;
  z-index: 1;
  right: 5%;
}

.pie {
  font-size: 0.7em;
}

.lkin {
  background-color: #00BFFF !important;
}

.img1 {
  height: auto;
  border-radius: 50%;
  width: auto;
}

.img2 {
  width: 350px;
  height: 300px;
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 150px;
  border: 1px solid #666 transparent;
}

.imgcontenido {
  border-radius: 30px;
}

.img3 {
  margin-top: 0%;
  margin-left: 0%;
}

.img4 {
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 5%;
  margin-left: 22%;
  border-radius: 150px;
  border: 3px solid #666;
}

.img5 {
  width: 250px;
  height: 250px;
  position: relative;
  margin-top: 6%;
  margin-left: 27%;
  border-radius: 125px;
  border: 1px solid #666 transparent;
}

.img6 {
  width: 160px;
  height: 160px;
  position: relative;
  margin-top: 0%;
  margin-left: 35%;
  border-radius: 80px;
  border: 1px solid #666 transparent;
}

.img7 {
  height: auto;
  width: auto;
}

.img8 {
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: 5%;
  margin-left: 25%;
  border-radius: 125px;
  border: 1px solid #666 transparent;
}

body {
  background-color: #BECADA;
}

body {
  background-color: #BECADA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contactanos {
  margin-left: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.slogan3 {
  margin-left: 21%;
}

.btn {
  margin-bottom: 5%;
}

.cajamadre {
  position: relative;
  display: flex;
  margin-top: 5%;
  width: 100%;
  height: 100%;
}

/* tablet styles*/
@media only screen and (min-width: 550px) and (max-width: 960px) {
  .footer {
    width: 100% !important;
    margin-top: 3%;
    margin-left: 0%;
    bottom: 0% !important;
  }

  .footer-contacto {
    position: fixed;
    bottom: 0%;
  }

  .itemwapp {
    position: fixed;
    border-radius: 5px;
    top: 85%;
    z-index: 1;
    right: 15%;
  }

  .navbar {
    align-items: center;
    color: red;
  }

  body {
    margin-top: 5%;
    width: 100% !important;
  }

  .logo {
    margin-top: 5%;
  }

  .cajamadre {
    position: relative;
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: 100%;
  }

  .img2 {
    margin-top: 5%;
  }

  .contactanos {
    margin-right: 5%;
  }

  .sloganbd .sloganbd2 {
    font-size: 1.1em;
  }

  .slogan1 {
    font-size: 1.6em !important;
    position: relative;
    top: auto;
  }

  .slogan2 {
    font-size: 1.5em !important;
    position: relative;
    top: auto;
  }

  .boton2 {
    position: absolute;
    top: 91%;
    text-align: center;
    text-decoration: underline;
    left: 37%;
    height: 20%;
    letter-spacing: 2px;
    font-family: unset;
    font-size: 1.6em;
    color: #C70039;
  }

  .contener {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 7%;
    margin-bottom: 15%;
  }
}
/* mobile styles*/
@media only screen and (min-width: 360px) and (max-width: 549px) {
  body {
    width: 100% !important;
    background-color: white;
  }

  .footer-contacto {
    width: 100% !important;
    bottom: 0%;
  }

  .img5 {
    margin-top: 15%;
    margin-right: 10% !important;
  }

  .slogan1 {
    font-size: 1.4em !important;
    position: relative;
    top: auto;
  }

  .slogan2 {
    font-size: 1.3em !important;
    position: relative;
    top: auto;
  }

  .boton2 {
    position: absolute;
    top: 91%;
    text-align: center;
    text-decoration: underline;
    left: 35%;
    height: 20%;
    letter-spacing: 2px;
    font-family: unset;
    font-size: 1.5em;
    color: #C70039;
  }

  .contactanos {
    margin-right: 5%;
  }

  .itemwapp {
    position: fixed;
    border-radius: 5px;
    top: 85%;
    z-index: 1;
    right: 10%;
  }

  .cajamadre {
    position: relative;
    display: flex;
    margin-top: 20%;
    width: 100%;
    height: 100%;
  }

  .img2 {
    margin-top: 10%;
    margin-right: 0% !important;
  }

  .carousel-caption .tituloriesgo {
    font-size: 1.3em;
  }

  .footer {
    width: 100% !important;
    margin-top: 3%;
    margin-left: 0%;
    bottom: 0% !important;
  }

  .contener {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 15%;
  }
}
@media only screen and (min-width: 290px) and (max-width: 359px) {
  body {
    width: 100% !important;
    background-color: white;
  }

  .footer {
    margin-bottom: 0%;
    width: 100% !important;
  }

  .footer-contacto {
    position: fixed;
    bottom: 0%;
  }

  .img5 {
    margin-top: 25%;
    margin-right: 10% !important;
    width: 65% !important;
    height: 65% !important;
  }

  .slogan1 {
    font-size: 1.4em !important;
    position: relative;
    top: auto;
  }

  .slogan2 {
    font-size: 1.3em !important;
    position: relative;
    top: auto;
  }

  .boton2 {
    position: absolute;
    top: 91%;
    text-align: center;
    text-decoration: underline;
    left: 32%;
    height: 20%;
    letter-spacing: 2px;
    font-family: unset;
    font-size: 1.4em;
    color: #C70039;
  }

  .contactanos {
    margin-right: 0%;
  }

  .itemwapp {
    position: fixed;
    border-radius: 5px;
    top: 85%;
    z-index: 1;
    right: 10%;
  }

  .cajamadre {
    position: relative;
    display: flex;
    margin-top: 20%;
    width: 100%;
    height: 100%;
  }

  .img2 {
    margin-top: 10%;
    margin-right: 0% !important;
  }

  .contener {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 15%;
  }

  .carousel-caption .tituloriesgo {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 250px) and (max-width: 291px) {
  body {
    width: 130% !important;
    background-color: white;
  }

  .footer {
    margin-bottom: 0%;
    width: 100% !important;
  }

  .contactanos {
    margin-right: 0%;
  }

  .img5 {
    margin-top: 15%;
    margin-right: 5% !important;
    width: 75% !important;
    height: 65% !important;
  }

  .itemwapp {
    position: fixed;
    border-radius: 5px;
    top: 85%;
    z-index: 1;
    right: 10%;
  }

  .cajamadre {
    position: relative;
    display: flex;
    margin-top: 20%;
    width: 100%;
    height: 100%;
  }

  .img2 {
    margin-top: 10%;
    margin-right: 0% !important;
  }

  .carousel-caption .tituloriesgo {
    font-size: 1.3em;
  }

  .slogan1 {
    font-size: 1.4em !important;
    position: relative;
    top: auto;
  }

  .slogan2 {
    font-size: 1.3em !important;
    position: relative;
    top: auto;
  }

  .boton2 {
    position: absolute;
    top: 91%;
    text-align: center;
    text-decoration: underline;
    left: 32%;
    height: 20%;
    letter-spacing: 2px;
    font-family: unset;
    font-size: 1.4em;
    color: #C70039;
  }

  .contener {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 15%;
  }
}
@media only screen and (min-width: 200px) and (max-width: 251px) {
  body {
    width: 150% !important;
    background-color: white;
  }

  .footer-contacto {
    position: fixed;
    bottom: 0%;
  }

  .footer {
    margin-bottom: 0%;
    width: 100% !important;
  }

  .slogan1 {
    font-size: 1.4em !important;
    position: relative;
    top: auto;
  }

  .slogan1 {
    font-size: 1.4em !important;
    position: relative;
    top: auto;
  }

  .slogan2 {
    font-size: 1.3em !important;
    position: relative;
    top: auto;
  }

  .img5 {
    margin-top: 25%;
    margin-right: 0% !important;
    width: 65% !important;
    height: 60% !important;
  }

  .boton2 {
    position: absolute;
    top: 91%;
    text-align: center;
    text-decoration: underline;
    left: 32%;
    height: 20%;
    letter-spacing: 2px;
    font-family: unset;
    font-size: 1.4em;
    color: #C70039;
  }

  .contactanos {
    margin-right: 0%;
  }

  .itemwapp {
    position: fixed;
    border-radius: 5px;
    top: 85%;
    z-index: 1;
    right: 10%;
  }

  .cajamadre {
    position: relative;
    display: flex;
    margin-top: 10%;
    width: 100%;
    height: 100%;
  }

  .img2 {
    margin-top: 10%;
    margin-right: 0% !important;
  }

  .contener {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 15%;
  }

  .carousel-caption .tituloriesgo {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 961px) {
  .footer {
    width: 100% !important;
    bottom: 0% !important;
  }

  .itemwapp {
    position: fixed;
    border-radius: 5px;
    top: 85%;
    z-index: 1;
    right: 20%;
  }
}
.contenidocont {
  margin-top: 10%;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
}

@media only screen and (min-width: 1200px) {
  .footer {
    width: 100%;
    bottom: 0% !important;
    margin-top: 0% !important;
  }

  .itemwapp {
    position: fixed;
    border-radius: 5px;
    top: 85%;
    z-index: 1;
    right: 20%;
  }
}
.page .contenidocont {
  margin-top: 15%;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
}

.contenidocont {
  margin-top: 10%;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
}

.cajamadreind {
  position: relative;
  display: inline-block;
  right: 0%;
  left: 0%;
  margin-top: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 100px) and (max-width: 200px) {
  body {
    width: 140% !important;
    background-color: white;
  }

  .footer-contacto {
    position: fixed;
    width: 120% !important;
    bottom: 0%;
  }

  .footer {
    margin-bottom: 0%;
    width: 120% !important;
  }

  .slogan1 {
    font-size: 1.4em !important;
    position: relative;
    top: auto;
  }

  .slogan1 {
    font-size: 1.4em !important;
    position: relative;
    top: auto;
  }

  .slogan2 {
    font-size: 1.3em !important;
    position: relative;
    top: auto;
  }

  .boton2 {
    position: absolute;
    top: 91%;
    text-align: center;
    text-decoration: underline;
    left: 32%;
    height: 20%;
    letter-spacing: 2px;
    font-family: unset;
    font-size: 1.4em;
    color: #C70039;
  }

  .contactanos {
    margin-right: 0%;
  }

  .itemwapp {
    position: fixed;
    border-radius: 5px;
    top: 85%;
    z-index: 1;
    right: 10%;
  }

  .cajamadre {
    position: relative;
    display: flex;
    margin-top: 10%;
    width: 100%;
    height: 100%;
  }

  .img5 {
    margin-top: 40%;
    margin-right: 5% !important;
    width: 60% !important;
    height: 60% !important;
  }

  .img7 {
    margin-top: 10%;
    margin-right: 0% !important;
  }

  .contener {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 15%;
  }

  .carousel-caption .tituloriesgo {
    font-size: 1.3em;
  }
}
body {
  background-color: #BECADA;
}

.cajamadreind {
  position: relative;
  display: inline-block;
  right: 0%;
  left: 0%;
  margin-top: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slogaan1 {
  position: absolute;
  top: 10%;
  left: 10%;
  text-align: left;
  z-index: 2;
  font-family: unset;
  font-size: 45px;
  color: #C70039;
}

.slogaan2 {
  position: absolute;
  top: 68%;
  text-align: center;
  width: 100%;
  height: 50%;
  z-index: 2;
  font-family: unset;
  font-size: 50px;
  color: #C70039;
}

.contener {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 8%;
  margin-bottom: 15%;
}

.contenidos {
  margin-top: 5%;
  margin-right: 11.99%;
  margin-left: 8%;
  margin-bottom: 15%;
}

.titulosector {
  width: 100%;
  height: 100%;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 3%;
  font-size: 2em;
  position: absolute;
  left: 0%;
}

h2 {
  line-height: normal;
  letter-spacing: 3px;
  font-size: 30px;
}

.translate {
  border: 1px solid transparent;
  width: 400px;
  height: 150px;
  transform: translate(50px, 150px);
  transition: 1.5s linear all;
  border: none;
  -webkit-transform: translate(50px, 150px);
  -ms-transform: translate(50px, 150px);
  transform: translate(50px, 150px);
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.parrafo4 {
  margin-top: 0%;
  margin-right: 5%;
  width: 240px;
  text-align: justify;
}

body {
  background-color: #BECADA;
}

.slogan1 {
  position: absolute;
  top: 17%;
  right: 0%;
  text-align: center;
  justify-content: flex-end;
  width: 100%;
  height: 50%;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.8em;
  color: #C70039;
  z-index: 1;
}

.slogan2 {
  position: absolute;
  top: 40%;
  left: 1%;
  text-align: center;
  width: 100%;
  height: 50%;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  color: #C70039;
}

.titles {
  font-size: 23px;
  margin-bottom: 7%;
  margin-top: 1%;
  font-family: "Times New Roman", Times, serif;
}

.titulo3 {
  font-size: 33px !important;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 5%;
  margin-top: 3%;
  margin-left: 8%;
  position: relative;
  top: 0%;
}

.opciones {
  margin-right: 5%;
  padding-right: 5%;
}

.tituloriesgo {
  color: #C70039;
  font-size: 2.2em;
  z-index: 2;
}

body {
  background-color: #BECADA;
}

.cajamadrebd {
  position: relative;
  display: inline-block;
  right: 0%;
  margin-top: 0%;
  width: 100%;
  height: 100%;
}

.sloganbd {
  position: absolute;
  top: 10%;
  left: 10%;
  text-align: left;
  z-index: 2;
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  color: #C70039;
}

.sloganbd2 {
  position: absolute;
  top: 68%;
  text-align: center;
  width: 100%;
  height: 50%;
  z-index: 2;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: #C70039;
}

.textoredondo {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.textinside {
  margin-top: 20%;
}

.parrafo3 {
  margin-top: 0%;
  margin-right: 3%;
  margin-left: 5%;
}

.i.fa-envelope {
  font-size: 16px;
  line-height: 16px;
}

.footer-distributed .footer-icons {
  margin-top: 10px;
}

.footer-icons a {
  display: inline-block;
  width: 40px;
  height: 35px;
  cursor: pointer;
  background-color: blue;
  border-radius: 2px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.contenidosb {
  margin-top: 3%;
  margin-right: 12%;
  margin-left: 8%;
  margin-bottom: 15%;
}

body {
  background-color: #BECADA;
}

.slogandw1 {
  position: absolute;
  top: 17%;
  right: 0%;
  text-align: center;
  justify-content: flex-end;
  width: 100%;
  height: 50%;
  font-family: unset;
  font-size: 2.4em;
  color: #C70039;
  z-index: 1;
}

.slogandw2 {
  position: absolute;
  top: 46%;
  left: 1%;
  text-align: center;
  width: 100%;
  height: 50%;
  font-family: unset;
  font-size: 1.7em;
  color: #C70039;
}

body {
  background-color: #BECADA;
}

.slogan1m {
  position: absolute;
  top: 1%;
  right: 0%;
  text-align: center;
  justify-content: flex-end;
  width: 100%;
  height: 50%;
  font-family: unset;
  font-size: 2em;
  color: #C70039;
  z-index: 1;
}

.slogan2m {
  position: absolute;
  top: 86%;
  left: 1%;
  text-align: center;
  width: 100%;
  height: 50%;
  font-family: unset;
  font-size: 1.5em;
  color: #C70039;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: pink;
  color: red;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-decoration: underline;
}
nav .menu {
  background-color: blue;
}
nav .menu a {
  font-size: 1.3em;
}

/*# sourceMappingURL=styles.css.map */
