@import '../base/colors';
.cajamadrebd {    
    position: relative;
    display: inline-block;
    right: 0%;
    margin-top: 0%;
    width: 100%;
    height: 100%;    
}
.sloganbd {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: left;
    z-index: 2;
    font-family: $fonts;
    font-size: 45px;
color: $color-cuartario;
}
.sloganbd2 {
    position: absolute;
    top: 68%;
    text-align: center;
    width: 100%;
    height: 50%;
    z-index: 2;
    font-family: $fonts;
    font-size: 50px;
color: $color-cuartario;
}
.textoredondo {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.textinside {
    margin-top: 20%;
}

.parrafo3 {
    margin-top: 0%;
    margin-right: 3%;
    margin-left: 5%;
}
.i.fa-envelope{
	font-size: 16px;
	line-height: 16px;
}
 
 
.footer-distributed .footer-icons{
	margin-top: 10px;
}
 
.footer-icons a{
	display: inline-block;
	width: 40px;
	height: 35px;
	cursor: pointer;
	background-color: blue;
	border-radius: 2px;
 
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	line-height: 30px;
 
	margin-right: 5px;
	margin-bottom: 5px;
}
 
.contenidosb {
    margin-top: 3%;
    margin-right: 12%;
    margin-left: 8%;
    margin-bottom: 15%;
}