@import '../base/colors';
@import '../base/fonts';
* { margin: 0;
    padding: 0;
box-sizing: border-box;
}
.contactanos {
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.slogan3 {
    margin-left: 21%;
    }
.btn {
    margin-bottom: 5%;
}

.cajamadre {
    position: relative;
    display: flex;     
    margin-top: 5%;
    width: 100%;
    height: 100%;    
}
/* tablet styles*/
@media only screen and (min-width: 550px) and (max-width: 960px) {


    .footer         {
            width: 100% !important;
            margin-top: 3%;
            margin-left: 0%;
            bottom: 0% !important;
        }
        .footer-contacto {
            position: fixed;
            bottom: 0%;    
            }
      .itemwapp /* relativo a todo el navegador */
     {
         position: fixed;
         border-radius: 5px;
         top: 78%;
         z-index: 1;
         right: 15%;
     }
     .navbar {
        align-items: center;
        color: red;
    }
    body {
        margin-top: 5%;
        width: 100% !important;

         }
    .logo {
        margin-top: 5%;
    }     
        .cajamadre {
            position: relative;
            display: flex;     
            margin-top: 5%;
            width: 100%;
            height: 100%;    
        }
        .img2 {
            margin-top: 5%;    
            
        }         
        .contactanos {
            margin-right: 5%;    
            
        }
        .sloganbd .sloganbd2 {
            font-size: 1.1em;
        }
        
        .slogan1 {
            font-size: 1.6em !important;
            position: relative;
            top:auto;
            
        }
        
        .slogan2 {
            font-size: 1.5em !important;
            position: relative;
            top:auto;
            
        }
        
.boton2 {
    position: absolute;
    top: 91%;
    text-align: center;
    text-decoration: underline;
    left: 37%;
    height: 20%;
    letter-spacing: 2px;
    font-family: unset;
    font-size: 1.6em;
    color: $color-cuartario;
        }

        .contener {
            margin-top: 5%;
            margin-right: 5%;
            margin-left: 7%;
            margin-bottom: 15%;
        }
        
.contenidocont {
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0%;
 
}

    }
    /* mobile styles*/

@media only screen  and (min-width: 360px) and (max-width: 549px) {
    body {
        width: 100% !important;

        background-color:white;
                   }  
                   .footer-contacto {
                    width: 100% !important;
                    bottom: 0%;    
                    }                 
                    .img5 {
                        margin-top: 15%;
                        margin-right: 10% !important;
                                            }
        .slogan1 {
            font-size: 1.4em !important;
            position: relative;
            top:auto;
            
        }
        
        .slogan2 {
            font-size: 1.3em !important;
            position: relative;
            top:auto;
            
        }
        
.boton2 {
    position: absolute;
    top: 91%;
    text-align: center;
    text-decoration: underline;
    left: 35%;
    height: 20%;
    letter-spacing: 2px;
    font-family: unset;
    font-size: 1.5em;
    color: $color-cuartario;
        }
    .contactanos {
        margin-right: 5%;    
        
    }
    .itemwapp /* relativo a todo el navegador */
    {
        position: fixed;
        border-radius: 5px;
        top: 78%;
        z-index: 1;
        right: 10%;
    }
    .cajamadre {
        position: relative;
        display: flex;     
        margin-top: 20%;
        width: 100%;
        height: 100%;    
    }
    .img2 {
        margin-top: 10%;
        margin-right: 0% !important;
    }

.carousel-caption .tituloriesgo {
    font-size: 1.3em;

}
.footer         {
    width: 100% !important;
    margin-top: 3%;
    margin-left: 0%;
    bottom: 0% !important;
}

.contener {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 15%;
}

.contenidocont {
    margin-top: 10%;
    margin-right: 12%;
    margin-left: 5%;
    margin-bottom: 0%;

  }
  .img5 {
    margin-top: 25%;
    margin-left: 10% !important;
    
}

.img6 {
    width: 160px;
    height:160px;
    position: relative;
    margin-top: 0%;
    margin-left: 20% !important;
    border-radius:80px;
    border:1px solid #666 transparent;
} 
.img9 {
    width: 320px !important;
    height:320px !important;
    border-radius: 160px !important;
    border:1px solid #666 transparent;
} 
}

@media only screen  and (min-width: 290px) and (max-width: 359px) {
    body {
        width: 100% !important;  
        background-color:white;
                   }  
                 .footer {
                     margin-bottom: 0%;
                    width: 100% !important;
                 }
                 .footer-contacto {
                    position: fixed;
                    bottom: 0%;    
                    }
                    
.img5 {
    margin-top: 25%;
    margin-left: 10% !important;
    width: 200px !important;
    height: 200px !important;
    border-radius: 100px !important;
}

.img6 {
    width: 160px;
    height:160px;
    position: relative;
    margin-top: 0%;
    margin-left: 16% !important;
    border-radius:80px;
    border:1px solid #666 transparent;
} 
.img9 {
    width: 300px !important;
    height:300px !important;
    border-radius: 150px !important;
    border:1px solid #666 transparent;
}        .slogan1 {
            font-size: 1.3em !important;
            position: relative;
            top:auto;
            
        }
        
        .slogan2 {
            font-size: 1.3em !important;
            position: relative;
            top:auto;
            
        }
        
.boton2 {
    position: absolute;
    top: 91%;
    text-align: center;
    text-decoration: underline;
    left: 32%;
    height: 20%;
    letter-spacing: 2px;
    font-family: unset;
    font-size: 1.4em;
    color: $color-cuartario;
        }
    .contactanos {
        margin-right: 0%;    
        
    }
    .itemwapp /* relativo a todo el navegador */
    {
        position: fixed;
        border-radius: 5px;
        top: 78%;
        z-index: 1;
        right: 10%;
    }
    .cajamadre {
        position: relative;
        display: flex;     
        margin-top: 20%;
        width: 100%;
        height: 100%;    
    }
    .img2 {
        margin-top: 10%;
        margin-right: 0% !important;
    }
.contener {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 15%;
}   
.contenidocont {
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 5%;
    margin-bottom: 0%;

  }
.carousel-caption .tituloriesgo {
    font-size: 1.3em;

}

}

@media only screen  and (min-width: 250px) and (max-width: 289px) {
    body {
        width: 130% !important;  
        background-color:white;
                   }  
                   
                 .footer {
                    margin-bottom: 0%;
                   width: 100% !important;
                }
    .contactanos {
        margin-right: 0%;    
        
    }
    
.img5 {
    margin-top: 15%;
    margin-left: 10% !important;
    width: 200px !important;
    height: 200px !important;
    border-radius: 100px !important;
}

.img6 {
    width: 160px;
    height:160px;
    position: relative;
    margin-top: 0%;
    margin-left: 18% !important;
    border-radius:80px;
    border:1px solid #666 transparent;
} 

.img9 {
    width: 260px !important;
    height:260px !important;
    border-radius: 130px !important;
    border:1px solid #666 transparent;
} 
    .itemwapp /* relativo a todo el navegador */
    {
        position: fixed;
        border-radius: 5px;
        top: 78%;
        z-index: 1;
        right: 10%;
    }
    .cajamadre {
        position: relative;
        display: flex;     
        margin-top: 20%;
        width: 100%;
        height: 100%;    
    }
    .img2 {
        margin-top: 10%;
        margin-right: 0% !important;
    }

.carousel-caption .tituloriesgo {
    font-size: 1.3em;

}
.slogan1 {
    font-size: 1.4em !important;
    position: relative;
    top:auto;
    
}

.slogan2 {
    font-size: 1.3em !important;
    position: relative;
    top:auto;
    
}

.boton2 {
position: absolute;
top: 91%;
text-align: center;
text-decoration: underline;
left: 32%;
height: 20%;
letter-spacing: 2px;
font-family: unset;
font-size: 1.4em;
color: $color-cuartario;
}

.contener {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 15%;
}
}

@media only screen  and (min-width: 200px) and (max-width: 251px) {
    body {
        width: 150% !important;  
        background-color:white;
                   }  
                   .footer-contacto {
                    position: fixed;
                    bottom: 0%;    
                    }
                    .footer {
                        margin-bottom: 0%;
                       width: 100% !important;
                    }     
        .slogan1 {
            font-size: 1.4em !important;
            position: relative;
            top:auto;
            
        }
        
.slogan1 {
    font-size: 1.4em !important;
    position: relative;
    top:auto;
    
}

.slogan2 {
    font-size: 1.3em !important;
    position: relative;
    top:auto;
    
}

.img5 {
    margin-top: 25%;
    margin-left: 10% !important;
    width: 200px !important;
    height: 200px !important;
    border-radius: 100px !important;
}

.img6 {
    width: 160px;
    height:160px;
    position: relative;
    margin-top: 0%;
    margin-left: 18% !important;
    border-radius:80px;
    border:1px solid #666 transparent;
} 

.img9 {
    width: 240px !important;
    height:240px !important;
    border-radius: 120px !important;
    border:1px solid #666 transparent;
} 
.boton2 {
position: absolute;
top: 91%;
text-align: center;
text-decoration: underline;
left: 32%;
height: 20%;
letter-spacing: 2px;
font-family: unset;
font-size: 1.4em;
color: $color-cuartario;
}
    
    .contactanos {
        margin-right: 0%;    
        
    }
    .itemwapp /* relativo a todo el navegador */
    {
        position: fixed;
        border-radius: 5px;
        top: 78%;
        z-index: 1;
        right: 10%;
    }
    .cajamadre {
        position: relative;
        display: flex;     
        margin-top: 10%;
        width: 100%;
        height: 100%;    
    }
    .img2 {
        margin-top: 10%;
        margin-right: 0% !important;
    }
.contener {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 15%;
}
.carousel-caption .tituloriesgo {
    font-size: 1.3em;

}

}
@media only screen and (min-width: 961px) {
                                        .footer {
                                            width: 100% !important;
                                            bottom: 0% !important;
                                        }
                                        
                                        
    
 .itemwapp /* relativo a todo el navegador */
    {
        position: fixed;
        border-radius: 5px;
        top: 87%;
        z-index: 1;
        right: 20%;
    }                
}

.contenidocont {
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 0%;
 
}


@media only screen and (min-width: 1200px) {
                                        .footer {
                                            width: 100%;
                                            bottom: 0% !important;
                                            margin-top: 0% !important;
                                        }
                                        
                                        
    
 .itemwapp /* relativo a todo el navegador */
    {
        position: fixed;
        border-radius: 5px;
        top: 85%;
        z-index: 1;
        right: 20%;
    }                

}
  .contenidocont {
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 15%;
    margin-bottom: 0%;


  }
  
  .cajamadreind {
    position: relative;
    display: inline-block;
    right: 0%;
    left: 0%;
    margin-top: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
@media only screen  and (min-width: 100px) and (max-width: 199px) {
    body {
        width: 140% !important;  
        background-color:white;
                   }  
                   .footer-contacto {
                    position: fixed;
                    width: 120% !important;
     
                    bottom: 0%;    
                    }
                    .footer {
                        margin-bottom: 0%;
                       width: 120% !important;
                    }     
        .slogan1 {
            font-size: 1.4em !important;
            position: relative;
            top:auto;
            
        }
        
.slogan1 {
    font-size: 1.4em !important;
    position: relative;
    top:auto;
    
}

.slogan2 {
    font-size: 1.3em !important;
    position: relative;
    top:auto;
    
}

.boton2 {
position: absolute;
top: 91%;
text-align: center;
text-decoration: underline;
left: 32%;
height: 20%;
letter-spacing: 2px;
font-family: unset;
font-size: 1.4em;
color: $color-cuartario;
}
    
    .contactanos {
        margin-right: 0%;    
        
    }
    .itemwapp /* relativo a todo el navegador */
    {
        position: fixed;
        border-radius: 5px;
        top: 80%;
        z-index: 1;
        right: 10%;
    }
    .cajamadre {
        position: relative;
        display: flex;     
        margin-top: 10%;
        width: 100%;
        height: 100%;    
    }
    .img5 {
        margin-top: 40%;
        margin-right: 15% !important;
        width: 160px !important;
    height: 160px !important;
    border-radius: 80px !important;    }
.img7 {
    margin-top: 10%;
    margin-right: 0% !important;
}
.contener {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 15%;
}
.carousel-caption .tituloriesgo {
    font-size: 1.3em;

}

.img9 {
    width: 220px !important;
    height:220px !important;
    border-radius: 110px !important;
    border:1px solid #666 transparent;
} 
}