@import '../base/colors';
@import '../base/fonts';


.btn {
    background-attachment: fixed;
    background-color: $color-terciario;
    margin-bottom: 5%;
    color: $color-secundario;
    font-family: $fonts;
    
}

.boton2 {
    position: absolute;
    top: 91%;
    text-align: center;
    text-decoration: underline;
    left: 42%;
    height: 20%;
    letter-spacing: 2px;
    font-family: $fonts;
    font-size: 1.9em;
    color: $color-cuartario;
        }
        .botonservicios {
            display: inline;
            margin-top: 5%;
            position: relative;
            left: 5%;
            border-radius: 6px;
            text-align: center;
            background:black;
            color: $color-cuartario;
            line-height: normal;
            letter-spacing: 1px;  
            font-size: 1em;
            font-family: $fonts;
            text-decoration: none;
        
    }
    .botonservicios1 {
        display: inline;
        margin-top: 15%;
        position: relative;
        left: 15%;
        border: none;
        text-align: center;
        background:black;
        font-family: $fonts;
        color: $color-cuartario;
        line-height: normal;
        letter-spacing: 1px;  
        font-size: 1.1em;
        text-decoration: underline;
    
}
    .butt3 {
        color: white;
            line-height: normal;
            position: absolute;
            left: 40%;
            font-family: $fonts;
            margin-bottom: 5%;           
    letter-spacing: 3px;
    }
    
    .butt2 {
        color: white;
            line-height: normal;
            position: relative;
            margin-right: 20%;            
    letter-spacing: 3px;
    font-family: $fonts;
    padding: 2%;
    margin-top: 0%;
    margin-bottom: 2%;
    }
    
    .butt1 {
        position: absolute;
        top: 75%;
        height: 100%;
        font-family: $fonts;
        width: 100%;
        text-align: center;
    
    }
