@import '../base/colors';
@import '../base/fonts';

.footer {
        justify-content: space-between;
        background-color: black;
        position: relative;
        display: inline-block;
        text-align: center;
        bottom: 0%;
        margin-top: 5%;
    }
    
    .footer-item {
        border: 1px solid transparent;
        background-color: black;
        justify-content: space-around;
        letter-spacing: 0.1em;
        line-height: 1.5em;
        flex: 1;
        color:white;
        font-size: 1em;
    }
    .footer-one {
        flex: 1;
    margin-left: 3%;
    }
    
    .footer-two {
        flex: 2;
        margin-left: 10%;
        justify-content: center;

    }
    .footer-three {
        flex: 1;
    
    }