@import '../base/colors';
@import '../base/fonts';
header {
    width: 100%;
    position: fixed;
    top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    height: auto;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    z-index: 10;
    color: $color-cuartario;
    border: 1px transparent;
    }
    .nombre {
        font-size: 18px;
        font-family: 'Lora', serif;
        text-align: center;
        text-decoration: none;
        color: $color-cuartario;
    }
    
    nav {
        width: 100%;
      z-index: 2;
      font-size: 15px;
        height: 8%;
        position: fixed;
        top: 0%;
        left: 0;
        text-decoration: none;

      }
    .container-fluid a{
        color: $color-cuartario !important;
        text-decoration: none;
    }
    .nav-item {
            color: $color-cuartario   !important;
            font-size: 1.1em !important;
            text-decoration: none;
            position: relative;
            justify-content: space-around;
            left: 30%;
    
        } 
    .dropdown-menu {
        background-color: #DCDCDC !important;
        text-align: right;
        justify-content: right !important;

    }    
    .dropdown-menu :hover {
        background-color: white !important;
        color: blue !important;

    }    
    .dropdown-menu {
        margin-top: 0;

      }
       