@mixin encabezados {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}
@mixin transform ($propiedad) {
    -webkit-transform: $propiedad ;
    -ms-transform: $propiedad;
    transform: $propiedad ;
}
